<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- CSSs -->

    <link rel="stylesheet" href="/static/css/navbarCSS.css" type="text/css">
    <link rel="stylesheet" href="/static/css/back_to_topCSS.css" type="text/css">
    <link rel="stylesheet" href="/static/css/footerCSS.css" type="text/css">
    <link rel="stylesheet" href="/static/css/newsCSS.css" type="text/css">

    <title>
        Manage News
    </title>
</head>

<body>
    <a id="button"></a>
    <%- include('navbar') %>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <hr>
                <p style="font-weight: 500; font-size: 1.25em;">
                    <a href="/adm-news">Manage News</a> >
                    <span><%= detail[0].title %></span>
                </p>
                <hr>
                <div class="main_content">
                    <% var _action = "/adm-news/manage-news-id=" + detail[0]._id %>
                        <form id="form" method="POST" action="<%= _action %>" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="title"><strong>Title: </strong></label>
                                <input type="text" class="form-control" name="title" value="<%= detail[0].title %>" required>
                                <hr class="w-75 mr-auto ml-0">
                                <label for="summary"><strong>News Summary:</strong></label>
                                <textarea rows="5" class="form-control" name="summary" style="white-space: pre-wrap;" required><%- detail[0].summary %></textarea>
                                <br>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="thumbnail"><strong>New Thumbnail: (Optional)</strong></label>
                                        <input type="file" class="form-control-file" name="thumbnail">
                                    </div>
                                    <div class="col-md-8">
                                        <span><strong>Current Thumbnail: </strong></span>
                                        <img class="img-thumbnail center" src="<%= detail[0].thumbnail_path %>" alt="thumbnail">
                                    </div>

                                </div>
                                <input type="text" id="order" name="order" style="display: none" value="<%= detail[0].order %>" data-order="<%= detail[0].order[detail[0].order.length - 1] %>">
                                <hr>
                                <% if (detail[0].order) {%>
                                    <% var text_count = 0; %>
                                        <% var image_count = 0; %>
                                            <% var array_of_order = detail[0].order.split('_'); %>
                                                <% for (var i = 1; i < array_of_order.length; i++){ %>
                                                    <% if (array_of_order[i][0] == 't') { %>
                                                        <div class="news_ele" data-order="<%= array_of_order[i] %>">
                                                            <div class="row">
                                                                <div class="col-md-10">
                                                                    <label for="news_text"> <strong> Text: </strong></label>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <button class="btn btn-outline-danger remove ml-auto mr-2 my-2">Remove</button>
                                                                </div>
                                                            </div>
                                                            <textarea class="form-control" id="news_text" name="news_text" style="white-space: pre-wrap"><%= detail[0].news_text[text_count] %></textarea>
                                                            <hr>
                                                        </div>
                                                        <% text_count++; %>
                                                            <% } else {%>
                                                                <div class="news_ele" data-order="<%= array_of_order[i] %>">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <label for="image"><strong>New Image: (Optional)</strong></label>
                                                                            <input type="file" class="form-control-file" name="image" accept="image/*">
                                                                        </div>
                                                                        <div class="col-md-8">
                                                                            <div class="row">
                                                                                <div class="col-md-8">
                                                                                    <span><strong>Current Image: </strong></span>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <button class="btn btn-outline-danger remove mb-2">Remove</button>
                                                                                </div>
                                                                            </div>
                                                                            <img alt="news_image" class="img-fluid center" src="<%= detail[0].news_image_path[image_count] %>">
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                </div>
                                                                <% image_count++ %>
                                                                    <% } %>
                                                                        <% } %>
                                                                            <% } %>
                            </div>
                            <button type="button" class="btn btn-lg btn-outline-success ml-2 my-2 _add_text">Add Text</button>
                            <button type="button" class="btn btn-lg btn-outline-warning mx-2 my-2 _add_image">Add Image</button>
                            <hr class="w-75">
                            <div>
                                <input type="text" id="flow" name="flow" style="display:none">
                            </div>
                            <div class="row">
                                <button class="btn btn-lg btn-primary center">Update</button>
                            </div>
                        </form>
                </div>

            </div>
        </div>
        <%- include('footer') %>
            <!-- Bootstrap JS -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
            <script type="text/javascript">
                bkLib.onDomLoaded(nicEditors.allTextAreas);
            </script>

            <script src="/static/js/back_to_topJS.js"></script>
            <script src="/static/js/navbarJS.js"></script>
            <script src="/static/js/manage_newsJS.js"></script>
</body>

</html>